<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EPUConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EPUConsole.Properties.Settings>
      <setting name="blobConnStr" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=epustorage;AccountKey=jiHZtHwoogsqv25fSfaHDYsdd4vcG+nC5bjimO3CkNMfK0PIe31FNK28qx3iKkkD0mvkCDhTXjyC8n+0vQxGfQ==;EndpointSuffix=core.windows.net</value>
      </setting>
      <setting name="displayQuestion" serializeAs="String">
        <value>Is there a motorcycle in this picture?</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>epluribusunum</value>
      </setting>
      <setting name="collection" serializeAs="String">
        <value>workitems</value>
      </setting>
      <setting name="authKey" serializeAs="String">
        <value>5prZGHqPMoAAtTAKFmUo0vDOkhhsU1W9elwzA9KaB0U4n29DKLbBb8qkafqNkDN3TkhekRqSPdfR2Z1sd8ZOEg==</value>
      </setting>
      <setting name="endPoint" serializeAs="String">
        <value>https://epluribusunum.documents.azure.com:443/</value>
      </setting>
    </EPUConsole.Properties.Settings>
  </userSettings>
</configuration>